.hero{
    color: white;
    display: flex;
    justify-content: center;
}

.hero-container{
padding: 2rem 2rem;
overflow: hidden;
    /* left: 247px;
    top: 228px;
    position: relative; */
}


.hero__text h1{
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 64px;
/* line-height: 72px; */
margin-bottom: 16px;
}

.hero__text p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #F5F5FA;
margin-bottom: 36px;
}

.hero-box{
    /* display: flex;
    align-items: center; */
    background: rgba(35, 61, 123, 0.76);
    border-radius: 8px;
    }

.hero-box__container{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
}


.hero-box__search{
  margin-right: 6px;  
}

.hero-box__search__sign{
    display: flex;
    padding-bottom: 12px;
    gap: 6px;
}

.hero-box__search input{
    background: rgba(5, 4, 4, 0.24);
    border: 0.5px solid rgba(228, 230, 232, 0.32);
    border-radius: 2px;
    padding: 6px; 
    outline: none;
}

.hero-box__location__sign{
    display: flex;
    padding-bottom: 12px;
    gap: 6px;
}

.hero-box__location input{
    background: rgba(5, 4, 4, 0.24);
    border: 0.5px solid rgba(228, 230, 232, 0.32);
    border-radius: 2px; 
    padding: 6px; 
    outline: none;
}

.hero-box-search__btn{
    padding-left: 12px;
    padding-top: 10px;
}

.hero-box-search__btn__container button{
    background: #FFC420;
    border: 1px solid #E4E6E8;
    border-radius: 8px; 
    padding: 15px 16px; 
    cursor: pointer;
}

/* .hero-box__low-links{
    display: flex;
} */

.hero-box__low-links{
display: flex;
font-size: 12px;
margin-top: 12px;
line-height: 36px;
margin-bottom: 4rem;
flex-direction: row;
}
.hero-box__low-links p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-right: 1rem;
}

.hero-box__low-links a:not(:last-child){
margin-right: 1rem;
}

.hero-box__low-links a:nth-of-type(1){
    text-decoration-line: underline;
     color: #F5F5FA;
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: 500;
     cursor: pointer;
}

.hero-box__low-links a:nth-of-type(2){
    color: #FFC420;
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: 500;
     cursor: pointer;
}

.hero-box__low-links a:nth-of-type(3){
    text-decoration-line: underline;
     color: #F5F5FA;
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: 500;
     cursor: pointer;
}
.hero-box__low-links a:nth-of-type(4){
    text-decoration-line: underline;
     color: #F5F5FA;
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: 500;
     cursor: pointer;
}
.hero-box__low-links a:nth-of-type(5){
    text-decoration-line: underline;
     color: #F5F5FA;
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: 500;
     cursor: pointer;
}
.hero-box__low-links a:nth-of-type(6){
    text-decoration-line: underline;
     color: #F5F5FA;
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: 500;
     cursor: pointer;
}


.hero-box__arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 36px;
}


@media screen and (max-width: 1050px){
    
}
@media screen and (max-width: 700px){

}
@media screen and (max-width: 550px){
    .hero-container{
        padding: 2rem 0.5rem;
        overflow: hidden;
        }

    .hero-box__container{
        display: flex;
        flex-direction: column;
    }

    .hero-box__search{
    margin-bottom: 2rem;
    }

    .hero-box__container{
        padding: 2rem 2rem;
       
    }

    .hero-box__search input{
     padding: 1rem 2.5rem;
    }
    .hero-box__location input{
     padding: 1rem 2.5rem;
    }

    .hero-box-search__btn__container button{
       display: flex;
       align-content: center;
       align-items: center;
       justify-content: center;
       justify-items: center;
    }
    

    .hero-box__low-links {
        display: flex;
        flex-direction: column;
          }
    .hero-box__low-links  {
      margin-bottom: 0;
          }

}




    /* @media screen and (max-width: 300px){
        .hero-box__search input{
            padding: 1rem 1rem;
           }
           .hero-box__location input{
            padding: 1rem 1rem;
           } 
           

            .hero-box__low-text p:not(:last-child){
                margin-right: 0;
                }
             
    } */
    

